/* ANSI Color Styles for fromansi HTML output */
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strikethrough { text-decoration: line-through; }
.dim { opacity: 0.5; }
.blink { animation: blink 1s infinite; }
@keyframes blink { 0%, 50% { opacity: 1; } 51%, 100% { opacity: 0; } }
.reverse { /* Note: reverse is handled by swapping fg/bg in HTML generation */ }
.hidden { visibility: hidden; }
.fg0 { color: #000000; }
.bg0 { background-color: #000000; }
.fg1 { color: #800000; }
.bg1 { background-color: #800000; }
.fg2 { color: #008000; }
.bg2 { background-color: #008000; }
.fg3 { color: #808000; }
.bg3 { background-color: #808000; }
.fg4 { color: #000080; }
.bg4 { background-color: #000080; }
.fg5 { color: #800080; }
.bg5 { background-color: #800080; }
.fg6 { color: #008080; }
.bg6 { background-color: #008080; }
.fg7 { color: #c0c0c0; }
.bg7 { background-color: #c0c0c0; }
.fg8 { color: #808080; }
.bg8 { background-color: #808080; }
.fg9 { color: #ff0000; }
.bg9 { background-color: #ff0000; }
.fg10 { color: #00ff00; }
.bg10 { background-color: #00ff00; }
.fg11 { color: #ffff00; }
.bg11 { background-color: #ffff00; }
.fg12 { color: #0000ff; }
.bg12 { background-color: #0000ff; }
.fg13 { color: #ff00ff; }
.bg13 { background-color: #ff00ff; }
.fg14 { color: #00ffff; }
.bg14 { background-color: #00ffff; }
.fg15 { color: #ffffff; }
.bg15 { background-color: #ffffff; }
.fg16 { color: #000000; }
.bg16 { background-color: #000000; }
.fg17 { color: #000033; }
.bg17 { background-color: #000033; }
.fg18 { color: #000066; }
.bg18 { background-color: #000066; }
.fg19 { color: #000099; }
.bg19 { background-color: #000099; }
.fg20 { color: #0000cc; }
.bg20 { background-color: #0000cc; }
.fg21 { color: #0000ff; }
.bg21 { background-color: #0000ff; }
.fg22 { color: #003300; }
.bg22 { background-color: #003300; }
.fg23 { color: #003333; }
.bg23 { background-color: #003333; }
.fg24 { color: #003366; }
.bg24 { background-color: #003366; }
.fg25 { color: #003399; }
.bg25 { background-color: #003399; }
.fg26 { color: #0033cc; }
.bg26 { background-color: #0033cc; }
.fg27 { color: #0033ff; }
.bg27 { background-color: #0033ff; }
.fg28 { color: #006600; }
.bg28 { background-color: #006600; }
.fg29 { color: #006633; }
.bg29 { background-color: #006633; }
.fg30 { color: #006666; }
.bg30 { background-color: #006666; }
.fg31 { color: #006699; }
.bg31 { background-color: #006699; }
.fg32 { color: #0066cc; }
.bg32 { background-color: #0066cc; }
.fg33 { color: #0066ff; }
.bg33 { background-color: #0066ff; }
.fg34 { color: #009900; }
.bg34 { background-color: #009900; }
.fg35 { color: #009933; }
.bg35 { background-color: #009933; }
.fg36 { color: #009966; }
.bg36 { background-color: #009966; }
.fg37 { color: #009999; }
.bg37 { background-color: #009999; }
.fg38 { color: #0099cc; }
.bg38 { background-color: #0099cc; }
.fg39 { color: #0099ff; }
.bg39 { background-color: #0099ff; }
.fg40 { color: #00cc00; }
.bg40 { background-color: #00cc00; }
.fg41 { color: #00cc33; }
.bg41 { background-color: #00cc33; }
.fg42 { color: #00cc66; }
.bg42 { background-color: #00cc66; }
.fg43 { color: #00cc99; }
.bg43 { background-color: #00cc99; }
.fg44 { color: #00cccc; }
.bg44 { background-color: #00cccc; }
.fg45 { color: #00ccff; }
.bg45 { background-color: #00ccff; }
.fg46 { color: #00ff00; }
.bg46 { background-color: #00ff00; }
.fg47 { color: #00ff33; }
.bg47 { background-color: #00ff33; }
.fg48 { color: #00ff66; }
.bg48 { background-color: #00ff66; }
.fg49 { color: #00ff99; }
.bg49 { background-color: #00ff99; }
.fg50 { color: #00ffcc; }
.bg50 { background-color: #00ffcc; }
.fg51 { color: #00ffff; }
.bg51 { background-color: #00ffff; }
.fg52 { color: #330000; }
.bg52 { background-color: #330000; }
.fg53 { color: #330033; }
.bg53 { background-color: #330033; }
.fg54 { color: #330066; }
.bg54 { background-color: #330066; }
.fg55 { color: #330099; }
.bg55 { background-color: #330099; }
.fg56 { color: #3300cc; }
.bg56 { background-color: #3300cc; }
.fg57 { color: #3300ff; }
.bg57 { background-color: #3300ff; }
.fg58 { color: #333300; }
.bg58 { background-color: #333300; }
.fg59 { color: #333333; }
.bg59 { background-color: #333333; }
.fg60 { color: #333366; }
.bg60 { background-color: #333366; }
.fg61 { color: #333399; }
.bg61 { background-color: #333399; }
.fg62 { color: #3333cc; }
.bg62 { background-color: #3333cc; }
.fg63 { color: #3333ff; }
.bg63 { background-color: #3333ff; }
.fg64 { color: #336600; }
.bg64 { background-color: #336600; }
.fg65 { color: #336633; }
.bg65 { background-color: #336633; }
.fg66 { color: #336666; }
.bg66 { background-color: #336666; }
.fg67 { color: #336699; }
.bg67 { background-color: #336699; }
.fg68 { color: #3366cc; }
.bg68 { background-color: #3366cc; }
.fg69 { color: #3366ff; }
.bg69 { background-color: #3366ff; }
.fg70 { color: #339900; }
.bg70 { background-color: #339900; }
.fg71 { color: #339933; }
.bg71 { background-color: #339933; }
.fg72 { color: #339966; }
.bg72 { background-color: #339966; }
.fg73 { color: #339999; }
.bg73 { background-color: #339999; }
.fg74 { color: #3399cc; }
.bg74 { background-color: #3399cc; }
.fg75 { color: #3399ff; }
.bg75 { background-color: #3399ff; }
.fg76 { color: #33cc00; }
.bg76 { background-color: #33cc00; }
.fg77 { color: #33cc33; }
.bg77 { background-color: #33cc33; }
.fg78 { color: #33cc66; }
.bg78 { background-color: #33cc66; }
.fg79 { color: #33cc99; }
.bg79 { background-color: #33cc99; }
.fg80 { color: #33cccc; }
.bg80 { background-color: #33cccc; }
.fg81 { color: #33ccff; }
.bg81 { background-color: #33ccff; }
.fg82 { color: #33ff00; }
.bg82 { background-color: #33ff00; }
.fg83 { color: #33ff33; }
.bg83 { background-color: #33ff33; }
.fg84 { color: #33ff66; }
.bg84 { background-color: #33ff66; }
.fg85 { color: #33ff99; }
.bg85 { background-color: #33ff99; }
.fg86 { color: #33ffcc; }
.bg86 { background-color: #33ffcc; }
.fg87 { color: #33ffff; }
.bg87 { background-color: #33ffff; }
.fg88 { color: #660000; }
.bg88 { background-color: #660000; }
.fg89 { color: #660033; }
.bg89 { background-color: #660033; }
.fg90 { color: #660066; }
.bg90 { background-color: #660066; }
.fg91 { color: #660099; }
.bg91 { background-color: #660099; }
.fg92 { color: #6600cc; }
.bg92 { background-color: #6600cc; }
.fg93 { color: #6600ff; }
.bg93 { background-color: #6600ff; }
.fg94 { color: #663300; }
.bg94 { background-color: #663300; }
.fg95 { color: #663333; }
.bg95 { background-color: #663333; }
.fg96 { color: #663366; }
.bg96 { background-color: #663366; }
.fg97 { color: #663399; }
.bg97 { background-color: #663399; }
.fg98 { color: #6633cc; }
.bg98 { background-color: #6633cc; }
.fg99 { color: #6633ff; }
.bg99 { background-color: #6633ff; }
.fg100 { color: #666600; }
.bg100 { background-color: #666600; }
.fg101 { color: #666633; }
.bg101 { background-color: #666633; }
.fg102 { color: #666666; }
.bg102 { background-color: #666666; }
.fg103 { color: #666699; }
.bg103 { background-color: #666699; }
.fg104 { color: #6666cc; }
.bg104 { background-color: #6666cc; }
.fg105 { color: #6666ff; }
.bg105 { background-color: #6666ff; }
.fg106 { color: #669900; }
.bg106 { background-color: #669900; }
.fg107 { color: #669933; }
.bg107 { background-color: #669933; }
.fg108 { color: #669966; }
.bg108 { background-color: #669966; }
.fg109 { color: #669999; }
.bg109 { background-color: #669999; }
.fg110 { color: #6699cc; }
.bg110 { background-color: #6699cc; }
.fg111 { color: #6699ff; }
.bg111 { background-color: #6699ff; }
.fg112 { color: #66cc00; }
.bg112 { background-color: #66cc00; }
.fg113 { color: #66cc33; }
.bg113 { background-color: #66cc33; }
.fg114 { color: #66cc66; }
.bg114 { background-color: #66cc66; }
.fg115 { color: #66cc99; }
.bg115 { background-color: #66cc99; }
.fg116 { color: #66cccc; }
.bg116 { background-color: #66cccc; }
.fg117 { color: #66ccff; }
.bg117 { background-color: #66ccff; }
.fg118 { color: #66ff00; }
.bg118 { background-color: #66ff00; }
.fg119 { color: #66ff33; }
.bg119 { background-color: #66ff33; }
.fg120 { color: #66ff66; }
.bg120 { background-color: #66ff66; }
.fg121 { color: #66ff99; }
.bg121 { background-color: #66ff99; }
.fg122 { color: #66ffcc; }
.bg122 { background-color: #66ffcc; }
.fg123 { color: #66ffff; }
.bg123 { background-color: #66ffff; }
.fg124 { color: #990000; }
.bg124 { background-color: #990000; }
.fg125 { color: #990033; }
.bg125 { background-color: #990033; }
.fg126 { color: #990066; }
.bg126 { background-color: #990066; }
.fg127 { color: #990099; }
.bg127 { background-color: #990099; }
.fg128 { color: #9900cc; }
.bg128 { background-color: #9900cc; }
.fg129 { color: #9900ff; }
.bg129 { background-color: #9900ff; }
.fg130 { color: #993300; }
.bg130 { background-color: #993300; }
.fg131 { color: #993333; }
.bg131 { background-color: #993333; }
.fg132 { color: #993366; }
.bg132 { background-color: #993366; }
.fg133 { color: #993399; }
.bg133 { background-color: #993399; }
.fg134 { color: #9933cc; }
.bg134 { background-color: #9933cc; }
.fg135 { color: #9933ff; }
.bg135 { background-color: #9933ff; }
.fg136 { color: #996600; }
.bg136 { background-color: #996600; }
.fg137 { color: #996633; }
.bg137 { background-color: #996633; }
.fg138 { color: #996666; }
.bg138 { background-color: #996666; }
.fg139 { color: #996699; }
.bg139 { background-color: #996699; }
.fg140 { color: #9966cc; }
.bg140 { background-color: #9966cc; }
.fg141 { color: #9966ff; }
.bg141 { background-color: #9966ff; }
.fg142 { color: #999900; }
.bg142 { background-color: #999900; }
.fg143 { color: #999933; }
.bg143 { background-color: #999933; }
.fg144 { color: #999966; }
.bg144 { background-color: #999966; }
.fg145 { color: #999999; }
.bg145 { background-color: #999999; }
.fg146 { color: #9999cc; }
.bg146 { background-color: #9999cc; }
.fg147 { color: #9999ff; }
.bg147 { background-color: #9999ff; }
.fg148 { color: #99cc00; }
.bg148 { background-color: #99cc00; }
.fg149 { color: #99cc33; }
.bg149 { background-color: #99cc33; }
.fg150 { color: #99cc66; }
.bg150 { background-color: #99cc66; }
.fg151 { color: #99cc99; }
.bg151 { background-color: #99cc99; }
.fg152 { color: #99cccc; }
.bg152 { background-color: #99cccc; }
.fg153 { color: #99ccff; }
.bg153 { background-color: #99ccff; }
.fg154 { color: #99ff00; }
.bg154 { background-color: #99ff00; }
.fg155 { color: #99ff33; }
.bg155 { background-color: #99ff33; }
.fg156 { color: #99ff66; }
.bg156 { background-color: #99ff66; }
.fg157 { color: #99ff99; }
.bg157 { background-color: #99ff99; }
.fg158 { color: #99ffcc; }
.bg158 { background-color: #99ffcc; }
.fg159 { color: #99ffff; }
.bg159 { background-color: #99ffff; }
.fg160 { color: #cc0000; }
.bg160 { background-color: #cc0000; }
.fg161 { color: #cc0033; }
.bg161 { background-color: #cc0033; }
.fg162 { color: #cc0066; }
.bg162 { background-color: #cc0066; }
.fg163 { color: #cc0099; }
.bg163 { background-color: #cc0099; }
.fg164 { color: #cc00cc; }
.bg164 { background-color: #cc00cc; }
.fg165 { color: #cc00ff; }
.bg165 { background-color: #cc00ff; }
.fg166 { color: #cc3300; }
.bg166 { background-color: #cc3300; }
.fg167 { color: #cc3333; }
.bg167 { background-color: #cc3333; }
.fg168 { color: #cc3366; }
.bg168 { background-color: #cc3366; }
.fg169 { color: #cc3399; }
.bg169 { background-color: #cc3399; }
.fg170 { color: #cc33cc; }
.bg170 { background-color: #cc33cc; }
.fg171 { color: #cc33ff; }
.bg171 { background-color: #cc33ff; }
.fg172 { color: #cc6600; }
.bg172 { background-color: #cc6600; }
.fg173 { color: #cc6633; }
.bg173 { background-color: #cc6633; }
.fg174 { color: #cc6666; }
.bg174 { background-color: #cc6666; }
.fg175 { color: #cc6699; }
.bg175 { background-color: #cc6699; }
.fg176 { color: #cc66cc; }
.bg176 { background-color: #cc66cc; }
.fg177 { color: #cc66ff; }
.bg177 { background-color: #cc66ff; }
.fg178 { color: #cc9900; }
.bg178 { background-color: #cc9900; }
.fg179 { color: #cc9933; }
.bg179 { background-color: #cc9933; }
.fg180 { color: #cc9966; }
.bg180 { background-color: #cc9966; }
.fg181 { color: #cc9999; }
.bg181 { background-color: #cc9999; }
.fg182 { color: #cc99cc; }
.bg182 { background-color: #cc99cc; }
.fg183 { color: #cc99ff; }
.bg183 { background-color: #cc99ff; }
.fg184 { color: #cccc00; }
.bg184 { background-color: #cccc00; }
.fg185 { color: #cccc33; }
.bg185 { background-color: #cccc33; }
.fg186 { color: #cccc66; }
.bg186 { background-color: #cccc66; }
.fg187 { color: #cccc99; }
.bg187 { background-color: #cccc99; }
.fg188 { color: #cccccc; }
.bg188 { background-color: #cccccc; }
.fg189 { color: #ccccff; }
.bg189 { background-color: #ccccff; }
.fg190 { color: #ccff00; }
.bg190 { background-color: #ccff00; }
.fg191 { color: #ccff33; }
.bg191 { background-color: #ccff33; }
.fg192 { color: #ccff66; }
.bg192 { background-color: #ccff66; }
.fg193 { color: #ccff99; }
.bg193 { background-color: #ccff99; }
.fg194 { color: #ccffcc; }
.bg194 { background-color: #ccffcc; }
.fg195 { color: #ccffff; }
.bg195 { background-color: #ccffff; }
.fg196 { color: #ff0000; }
.bg196 { background-color: #ff0000; }
.fg197 { color: #ff0033; }
.bg197 { background-color: #ff0033; }
.fg198 { color: #ff0066; }
.bg198 { background-color: #ff0066; }
.fg199 { color: #ff0099; }
.bg199 { background-color: #ff0099; }
.fg200 { color: #ff00cc; }
.bg200 { background-color: #ff00cc; }
.fg201 { color: #ff00ff; }
.bg201 { background-color: #ff00ff; }
.fg202 { color: #ff3300; }
.bg202 { background-color: #ff3300; }
.fg203 { color: #ff3333; }
.bg203 { background-color: #ff3333; }
.fg204 { color: #ff3366; }
.bg204 { background-color: #ff3366; }
.fg205 { color: #ff3399; }
.bg205 { background-color: #ff3399; }
.fg206 { color: #ff33cc; }
.bg206 { background-color: #ff33cc; }
.fg207 { color: #ff33ff; }
.bg207 { background-color: #ff33ff; }
.fg208 { color: #ff6600; }
.bg208 { background-color: #ff6600; }
.fg209 { color: #ff6633; }
.bg209 { background-color: #ff6633; }
.fg210 { color: #ff6666; }
.bg210 { background-color: #ff6666; }
.fg211 { color: #ff6699; }
.bg211 { background-color: #ff6699; }
.fg212 { color: #ff66cc; }
.bg212 { background-color: #ff66cc; }
.fg213 { color: #ff66ff; }
.bg213 { background-color: #ff66ff; }
.fg214 { color: #ff9900; }
.bg214 { background-color: #ff9900; }
.fg215 { color: #ff9933; }
.bg215 { background-color: #ff9933; }
.fg216 { color: #ff9966; }
.bg216 { background-color: #ff9966; }
.fg217 { color: #ff9999; }
.bg217 { background-color: #ff9999; }
.fg218 { color: #ff99cc; }
.bg218 { background-color: #ff99cc; }
.fg219 { color: #ff99ff; }
.bg219 { background-color: #ff99ff; }
.fg220 { color: #ffcc00; }
.bg220 { background-color: #ffcc00; }
.fg221 { color: #ffcc33; }
.bg221 { background-color: #ffcc33; }
.fg222 { color: #ffcc66; }
.bg222 { background-color: #ffcc66; }
.fg223 { color: #ffcc99; }
.bg223 { background-color: #ffcc99; }
.fg224 { color: #ffcccc; }
.bg224 { background-color: #ffcccc; }
.fg225 { color: #ffccff; }
.bg225 { background-color: #ffccff; }
.fg226 { color: #ffff00; }
.bg226 { background-color: #ffff00; }
.fg227 { color: #ffff33; }
.bg227 { background-color: #ffff33; }
.fg228 { color: #ffff66; }
.bg228 { background-color: #ffff66; }
.fg229 { color: #ffff99; }
.bg229 { background-color: #ffff99; }
.fg230 { color: #ffffcc; }
.bg230 { background-color: #ffffcc; }
.fg231 { color: #ffffff; }
.bg231 { background-color: #ffffff; }
.fg232 { color: #080808; }
.bg232 { background-color: #080808; }
.fg233 { color: #121212; }
.bg233 { background-color: #121212; }
.fg234 { color: #1c1c1c; }
.bg234 { background-color: #1c1c1c; }
.fg235 { color: #262626; }
.bg235 { background-color: #262626; }
.fg236 { color: #303030; }
.bg236 { background-color: #303030; }
.fg237 { color: #3a3a3a; }
.bg237 { background-color: #3a3a3a; }
.fg238 { color: #444444; }
.bg238 { background-color: #444444; }
.fg239 { color: #4e4e4e; }
.bg239 { background-color: #4e4e4e; }
.fg240 { color: #585858; }
.bg240 { background-color: #585858; }
.fg241 { color: #626262; }
.bg241 { background-color: #626262; }
.fg242 { color: #6c6c6c; }
.bg242 { background-color: #6c6c6c; }
.fg243 { color: #767676; }
.bg243 { background-color: #767676; }
.fg244 { color: #808080; }
.bg244 { background-color: #808080; }
.fg245 { color: #8a8a8a; }
.bg245 { background-color: #8a8a8a; }
.fg246 { color: #949494; }
.bg246 { background-color: #949494; }
.fg247 { color: #9e9e9e; }
.bg247 { background-color: #9e9e9e; }
.fg248 { color: #a8a8a8; }
.bg248 { background-color: #a8a8a8; }
.fg249 { color: #b2b2b2; }
.bg249 { background-color: #b2b2b2; }
.fg250 { color: #bcbcbc; }
.bg250 { background-color: #bcbcbc; }
.fg251 { color: #c6c6c6; }
.bg251 { background-color: #c6c6c6; }
.fg252 { color: #d0d0d0; }
.bg252 { background-color: #d0d0d0; }
.fg253 { color: #dadada; }
.bg253 { background-color: #dadada; }
.fg254 { color: #e4e4e4; }
.bg254 { background-color: #e4e4e4; }
.fg255 { color: #eeeeee; }
.bg255 { background-color: #eeeeee; }
